{% extends "layout.html" %}
{% block title %}Add Company{% endblock %}
{% block content %}
{% from "country_state_selector.html" import country_state_selector %}

<div class="container-fluid">
    <div class="h1">Add Company</div>
    <div>
        <form method="POST">
            {#
            using regular html generate fields (labels and input) with proper types for
            name (required)
            address (required)
            city (required) (can be a text field, doesn't need to be a valid city)
            state/country (required) (given)
            zip (required)
            website (optional)
            if a validation error occurs, the inserted form data should persist
            #}
            <div class="form-group mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type='text'id='name' name='name'/>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label" for="address">address</label>
                    <input class="form-control" type='text' id='address' name='address'/>
                    </div>
        
                <div class="form-group mb-3">
                <label class="form-label" for="city">city</label>
                <input class="form-control" type='text' id='city'name='city' />
                </div>

                <div class="form-group mb-3">
                    <label class="form-label" for="website">website</label>
                    <input class="form-control" type='text' id='website'name='website' />
                    </div>

                <div class="form-group mb-3">
                        <label class="form-label" for="zip">zip</label>
                        <input class="form-control" type='number' id='zip'name='zip' />
                        </div>


            {# use this for country/state selection #}
            {{country_state_selector()}}
            <input type="submit" class="btn btn-primary" value="Save Company" />
        </form>
    </div>
</div>
{% endblock %}
