{% extends "layout.html" %}
{% block title %}Edit Company{% endblock %}
{% block content %}
{% from "country_state_selector.html" import country_state_selector %}

<div class="container-fluid">
    <div class="h1">Edit Company</div>
    <div>
        <form method="POST">
            {#
            generate fields with proper types for
            name (required)
            address (required)
            city (required)
            state/country (use the country_state_selector)
            zip (required)
            website (not required)
            and prefill the fields with loaded company data
            #}
            <label for="name">Name:</label><br>
            <input type="text" id="Name" name="Name" required><br>
            <label for="address">address:</label><br>
            <input type="text" id="address" name="address" required><br>
            <label for="website">website</label><br>
            <input type="text" id="website" name="website" required><br>
            <label for="city">city:</label><br>
            <input type="text" id="city" name="city" required><br>
            {# use this for country/state selection #}
            {{country_state_selector(country=company.country, state=company.state)}}
            <label for="zip">Zip:</label><br>
            <input type="text" id="zip" name="zip" required><br>


            <input type="submit" class="btn btn-primary" value="Save Company" />
        </form>
    </div>
</div>
{% endblock %}