{% extends "layout.html" %}
{% block title %}Employee Directory{% endblock %}
{% block content %}
{% from "company_dropdown.html" import company_dropdown %}
{% from "sort_filter.html" import sort_filter %}
<div class="container-fluid">
    <div class="h1 text-center">{{request.args.get("company_name","")}} Employee Directory</div>
    <form method="GET">
        {#UCID: rk268, Date: 08/09/2023#}
        {# TODO
        build a horizontal filter/sort form with
        first_name (show as first name, but name should be fn)
        last_name (show as last name, but name should be ln)
        email (validate as text, not email, so partial match works)
        company (provided) (name is company value is the id)
        sort/order (using allowed_columns and provided partial template)
        limit (default 10)
        ensure all fields prefill with request arg data if provided
        #}
        <div class="row">
            <div class="col">
                <input class="form-control" placeholder="fn" type="text" id="fname" name="fname">
            </div>
            <div class="col">
                <input class="form-control" placeholder="ln" type="text" id="lname" name="lname">
            </div>
            <div class="col">
                <input class="form-control" placeholder="Email" type="text" id="email" name="email">
            </div>
            <div class="col">
                <label class="visually-hidden" for="company">Company</label>
                {{company_dropdown(request.args.get("company"))}}
            </div>

            {{sort_filter(cols=[('first_name', 'First_name'),('last_name', 'Last_name'),('email', 'Email'),('company_id', 'Company_name')])}}
            
            <div class="col">
                <input class="form-control" placeholder="Limit" type="number" min="1" max="100" id="limit" name="limit" value="{{request.args.get('limit') or '10'}}" />
            </div>

            <div class="col">
                <input type="submit" class="btn btn-primary" value="Filter" />
            </div>

            

            <div class="col">
                <a href="?" class="btn btn-secondary">Reset</a>
            </div>
        </div>
    </form>
    <table class="table">
        {% if rows and rows|length > 0 %}
        <thead>
            <tr class="text-capitalize">
                {# generate th tags for each column to display #}
                {# IMPORTANT use table column names as the headings, replace _ with space via filter #}

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {# generate tr with td tags for each piece of data #}
            {# in the last column add the following
            an edit button that passes the employee id to employee edit
            a delete button that passes the employee id and the request args to the employee delete route
            #}
            {% for r in rows %}
        <tr>
            {% for v in r.values() %}
            <td>{{v}}</td>
            {% endfor %}
            <td><a href="{{url_for('employee.edit', id=r.get('id'))}}" >Edit</a>
                {# **request.args spreads the key value pairs to be part of the url#}
                {# the idea is to pass it to the next route #}
                <a href="{{url_for('employee.delete', id=r.get('id'))}}" class=" btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
        {% else %}
        <tbody>
            <tr>
                <td colspan="100%">No results to show</td>
            </tr>
        </tbody>
        {% endif %}
    </table>
</div>
{% endblock %}